<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
      <!--supported on Windows 10 version 1903 or later-->
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

  <appSettings>
    <!--
    (required)
    Mouse sensitivity (DPI)
    For typical 1200 dpi mouse, the total "throw" distance of the throttle is approx 2.5 inches of mouse travel.
    -->
    <add key="MouseResolution" value="1200"/>
    
    <!--
    (optional)
    Mouse button to engage throttle [0-4].. typically button #0 (left button) makes most sense.
    -->
    <add key="MouseButton" value="0"/>

    <!--
    (optional)
    Joystick button to engage throttle; format: "{hidProductId},{hidVendorId},{hidButtonId}"
        hidProductId: 4-digit hex identifier of HID/DirectInput device
        hidVendorId: 4-digit hex identifier of HID/DirectInput device manufacturer
        hidButtonId: 0-based index of HID/DirectInput button, on above device
    Tip: using your SimHotas(Pinky)Shift button is often a convenient choice..
    Example: for TM Warthog:
        value="0402,044F,2"
    -->
    <add key="JoystickButton" value="B10A,044F,0"/>

    <!--
    (optional)
    Throttle "throw" range of motion, in mousewheel-notch units
    In BMS 4.35, the throttle throw-distance appears to be 125 "wheelnotch" units, with mousewheel set to minimum sensitivity.
    -->
    <add key="ThrottleThrow" value="125"/>
    
    <!--
    (optional)
    Throttle setting for 100% MIL power (one notch below AB), in "wheelnotch" units
    -->
    <add key="ThrottleMaxMIL" value="83"/>

    <!--
    (optional)
    Audio feedback for passing through AB detent, and hitting min/max extent range of throttle.
    Note: currently these absolute positions are estimated, and may not always be reliable.
    -->
    <add key="IdleStopSound" value="res://Sounds/throttleExtent.wav"/>
    <add key="BurnerDetentUpSound" value="res://Sounds/throttleDetent.wav"/>
    <add key="BurnerDetentDownSound" value="res://Sounds/throttleDetent.wav"/>
    <add key="MaxBurnerSound" value="res://Sounds/throttleExtent.wav"/>

    <!--
    (optional, bonus-feature)
    Remap mouse x-buttons to (unshifted) keybd scancodes.. because why not.
    List of hex scancodes: https://gist.github.com/arithex/3e953d1eb096afe58ce05ba6846493e4
    -->
    <add key="ScancodeForMouseXButton1" value="0xC7"/><!--[Home]: UHF push-to-talk-->
    <add key="ScancodeForMouseXButton2" value="0xCF"/><!--[End]: VHF push-to-talk-->
  </appSettings>

</configuration>