<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
      <!--run on Windows 10 version 1903 or later-->
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

  <appSettings>
    <!--mouse sensitivity (DPI) .. for typical 1200 dpi mouse, the total "throw" 
    distance of the throttle is approx 2.5 inches of mouse travel-->
    <add key="MouseResolution" value="1200"/>
    
    <!--mouse button to engage throttle [0=LeftButton ... 4=XButton-Forward] -->
    <add key="MouseButton" value="0"/>

    <!--(optional) joystick button to engage throttle [0-31] -->
    <add key="JoystickButton" value="0"/>
  </appSettings>

</configuration>