<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
      <!--run on Windows 10 version 1903 or later-->
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

  <appSettings>
    <!--
    Mouse sensitivity (DPI)
    For typical 1200 dpi mouse, the total "throw" distance of the throttle is approx 2.5 inches of mouse travel.
    -->
    <add key="MouseResolution" value="1200"/>
    
    <!--
    (optional) Mouse button to engage throttle [0-4]
    Note: really only the left-button (button #0) makes sense, with mouselook mode engaged in BMS-->
    <add key="MouseButton" value="0"/>

    <!--
    (optional) Joystick button to engage throttle [0-31]
    Tip: using your SimHotasPinkyShift button is often a convenient choice
    -->
    <add key="JoystickButton" value="0"/>

    <!--
    Throttle "throw" range of motion, in mousewheel-notch units
    In BMS 4.35, the throttle throw-distance appears to be 125 "wheelnotch" units, with mousewheel set to minimum sensitivity.
    -->
    <add key="ThrottleThrow" value="125"/>
    
    <!--
    Throttle setting for 100% MIL power (one notch below AB range), in "wheelnotch" units
    -->
    <add key="ThrottleMaxMIL" value="83"/>

    <!--
    (optional) Audio feedback for passing through AB detent, and hitting min/max extent range of throttle.
    Note: currently these absolute positions are estimated, and may not always be reliable.
    -->
    <add key="IdleStopSound" value="res://Sounds/throttleExtent.wav"/>
    <add key="BurnerDetentUpSound" value="res://Sounds/throttleDetent.wav"/>
    <add key="BurnerDetentDownSound" value="res://Sounds/throttleDetent.wav"/>
    <add key="MaxBurnerSound" value="res://Sounds/throttleExtent.wav"/>

    <!--
    (bonus-feature) Remap mouse x-buttons to (unshifted) keybd scancodes.. because why not.
    List of hex scancodes: https://gist.github.com/arithex/3e953d1eb096afe58ce05ba6846493e4
    -->
    <add key="ScancodeForMouseXButton1" value="0xC7"/><!--[Home]: UHF push-to-talk-->
    <add key="ScancodeForMouseXButton2" value="0xCF"/><!--[End]: VHF push-to-talk-->
  </appSettings>

</configuration>